@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* ,
*::before,
*::after {
  	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {

	background: linear-gradient(to left,#fafdd1, #f9ffa1);
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

button {
	font-family: "Inter", sans-serif;
	float: right;
	margin: 0 40px;
	cursor: pointer;
	height: 40px;
	width: 120px;
	outline: 0;
	border: 0;
	border: 3px #4b4b4b solid;
	border-radius: 10px;
	font-weight: 500;
	transition: 0.4s background ease-out;
	font-size: 16px;
	background-color: #ffddb0;
  }
  
  button:hover {

	background-color: #fdb19a;
	outline: 1px #4b4b4b solid;
  }

#header {
	font-family: "Inter", sans-serif;
	text-align: center;
	padding: 40px;
}  
#container {
	margin: auto;
	height:500px;
	width: 500px;
	border: 2px rgb(75, 75, 75) solid;
	box-shadow: 10px 10px 10px #cfcfcf;
	border-bottom-right-radius: 10%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 5%;
	border-top-left-radius: 10px;
	background: linear-gradient(to top left,rgb(169, 252, 252), rgb(0, 247, 247));
	border-right: 4px #4b4b4b solid;
	border-bottom: 4px #4b4b4b solid;
	z-index: -1;

}
#display{
	margin: 18px;
	height: 400px;
	width: 400px;
	/* background-color: rgb(37, 37, 37); */
	background: linear-gradient(to top left,rgb(37, 37, 37), rgb(75, 75, 75));
	border-bottom: 5px rgb(200, 247, 255) solid;
	border-right: 5px rgb(180, 252, 255) solid;
	border-top: 5px rgb(105, 198, 214) solid;
	border-left: 5px rgb(75, 173, 177) solid;
	border-radius: 10px;
}
